---
import ImageC1 from "../../../assets/images/image-c-1.webp";
import ImageC2 from "../../../assets/images/image-c-2.webp";
import ImageC3 from "../../../assets/images/image-c-3.webp";
import CardChallenger from "../../../components/CardChallenger.astro";
import MenuHeader from "../../../components/MenuHeader.astro";
import LayoutPrincipal from "../../../layouts/LayoutPrincipal.astro";


const navItems = [
    {
        name: 'Logros y retos',
        link: '/challengers&achievements'
    },
    {
        name: 'Retos',
        link: '/challengers&achievements/challengers'
    }
]
---

<LayoutPrincipal title="Retos">
    <section>
        <MenuHeader navItems={navItems} />
        <div>
            <div class="content-cards">
                <CardChallenger img={ImageC1} title="Primeros pasos" description="Has corregido exitosamente tu primer error de código. ¡Cada error es una oportunidad para aprender!" textFooter="Desbloqueado el 11-10-2024" hasFooter/>
                <CardChallenger img={ImageC2} title="Código Limpio" description="Ha escrito un código sin ningún 'Code Smell'. ¡Excelente trabajo siguiendo buenas prácticas!" textFooter="Desbloqueado el 11-10-2024" hasFooter/>
                <CardChallenger img={ImageC3} title="Maratón de Aprendizaje" description="Ha dedicado más de 10 horas continuas a resolver ejercicios prácticos. ¡Tu constancia es admirable!" textFooter="Desbloqueado el 11-10-2024" hasFooter/>
            </div>
        </div>
    </section>
</LayoutPrincipal>

<style>
    section{
        width: 80%;

        & > div{
            width: calc(50% + 20rem);
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            margin: 2rem;
        }
    }


    .content-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: start;
        align-items: start;
        flex-wrap: wrap;
        gap: 2rem;
    }
</style>